/* Escritorio */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Mulish";
  font-weight: normal;
}
iframe {
  max-width: 100%;
}
#resultadoSec6 {
  display: none;
}

@media (min-width: 1024px) {
  .imgExpose {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
  }
  .imgExpose img {
    display: block;
    /* Ajusta el tamaño según sea necesario */
    width: 450px;
    height: auto;
  }

  .dragButton1,
  .dragButton2,
  .dragButton3,
  .dragButton4,
  .dragButton5,
  .dragButton6 {
    font-size: larger;
  }
  .menuOption {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 20px; /* Espacio entre las imágenes */
  }

  .menuOption p {
    align-items: center;
  }
  .scene {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99%;
  }
  .imagenPrueba {
    width: 200px;
    height: auto;
  }
  .doodle {
    width: 101.3%;
    height: 400px;
    margin: -10px;
    margin-bottom: -240px;
  }
  .logo {
    margin-top: -600px;
    width: 300px;
    height: auto;
    padding-bottom: 40px;
    padding-left: 50px;
  }
  .letra_img {
    width: 50px;
    height: 50px;
  }

  .section {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section.active {
    display: flex;
    flex-direction: column;
  }
  .dots {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 10px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
  }

  .dot.active {
    background-color: #2cb7b3;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  .memory-game {
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-bottom: 50px;
  }
  .memory-card {
    width: calc(25% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  .front-face img {
    max-width: 100%;
    max-height: 100%;
  }
  .front-face,
  .back-face {
    font-size: 24px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
  }
  .memory-card.memo-correct {
    border: solid green 1px;
  }
  .back-face {
    background-color: #d0e4f4;
  }
  .front-face {
    transform: rotateY(180deg);
  }
  .memory-card.flip {
    transform: rotateY(180deg);
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  .scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
  }
  .imagenPrueba {
    width: 400px;
    height: auto;
  }
  h2 {
    font-size: xx-large;
  }
  p {
    font-size: x-large;
  }
  .doodle {
    width: 108%;
    height: 400px;
    margin: -10px;
    margin-bottom: -200px;
  }
  .letra_img {
    width: 50px;
    height: 50px;
  }
  .logo {
    margin-top: -600px;
    width: 300px;
    height: auto;
    padding-bottom: 70px;
  }
  .navigation {
    text-align: center;
  }

  .section {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section.active {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  .dots {
    display: flex;
    position: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: #717171;
  }
  .vertical-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .character {
    margin-left: auto;
    width: 50px;
    height: auto;
  }

  .memory-game {
    width: 90%;
    height: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-bottom: 50px;
  }
  .memory-card {
    width: calc(50% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  .front-face img {
    max-width: 100%;
    max-height: 100%;
  }
  .front-face,
  .back-face {
    font-size: 30px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
  }
  .back-face {
    background-color: #d0e4f4;
  }
  .front-face {
    transform: rotateY(180deg);
  }
  .memory-card.flip {
    transform: rotateY(180deg);
  }
}
/* Teléfono */
@media screen and (max-width: 600px) {
  .scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
  }
  .imagenPrueba {
    width: 400px;
    height: auto;
  }
  h2 {
    font-size: xx-large;
  }
  p {
    font-size: x-large;
  }
  .doodle {
    width: 108%;
    height: 400px;
    margin: -10px;
    margin-bottom: -200px;
  }
  .letra_img {
    width: 50px;
    height: 50px;
  }
  .logo {
    margin-top: -600px;
    width: 300px;
    height: auto;
    padding-bottom: 70px;
  }
  .navigation {
    text-align: center;
  }

  .section {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section.active {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  .dots {
    display: flex;
    flex-direction: column;
    position: center;
    align-items: start;
  }
  .dots .menuOption {
    display: flex;
    align-items: center;
  }
  .dots .menuOption .span {
    display: flex;
    flex-direction: column;
    position: center;
    align-items: start;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .menuOption {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 20px; /* Espacio entre las imágenes */
  }

  .menuOption p {
    align-items: center;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: #717171;
  }
  .vertical-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .character {
    margin-left: auto;
    width: 50px;
    height: auto;
  }
  .memory-game {
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-bottom: 50px;
  }
  .memory-card {
    width: calc(50% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  .front-face img {
    max-width: 100%;
    max-height: 100%;
  }
  .front-face,
  .back-face {
    font-size: 30px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
  }
  .back-face {
    background-color: #d0e4f4;
  }
  .front-face {
    transform: rotateY(180deg);
  }
  .memory-card.flip {
    transform: rotateY(180deg);
  }
}

.titleInstructions {
  display: flex;
  text-align: center;
  font-family: "Mulish";
  font-weight: normal;
}

.iconlsmbutton {
  background: none;
  border: 0px;
  flex-wrap: wrap;
}
.iconlsmbutton img {
  background: none;
  border: 0px;
  flex-wrap: wrap;
  padding-top: 5px;
  width: 56px;
  height: 56px;
}
.actividad {
  display: flex;
  justify-content: center;
}
.escena {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 30px;
}

.img_Act .letras {
  display: flex;
  justify-content: center;
}

.item-letra {
  margin: 0 5px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.character {
  justify-content: end;
  width: 50px;
  height: auto;
  margin-left: auto;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container span {
  font-size: 1.5em;
}

.input {
  text-align: center;
  width: 80px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  font-family: "Mulish";
  font-size: 1.5em;
}

.vertical-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.vertical-container button {
  text-align: center;
  margin: 50px auto;
  width: fit-content;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #efefef;
  border: 1px solid #2cb7b3;
  border-radius: 2em;
  font-family: "Mulish";
  font-weight: normal;
}

#letter-buttons,
#spaces,
#spaces1,
#spaces2,
#spaces3,
#spaces4,
#spaces5 {
  display: flex;
  flex-direction: row;
  background: none;
}

.space {
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 1em;
  font-size: larger;
}

.correct {
  color: #2cb7b3;
}

.resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1; /* Se coloca por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

/* Contenido del modal */
.modal-content {
  background-color: white;
  margin: 15% auto; /* Centrar en la pantalla */
  padding: 20px;
  border: 1px solid #888;
  width: auto; /* Ancho del modal */
  max-width: 560px; /* Máximo ancho */
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@font-face {
  font-family: "Mulish";
  src: url("./fuentes/Mulish/Mulish-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
